@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f1f1f1;
    --foreground: #ededed;
    --color: #888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #181818;
        --foreground: #252526;
        --color: #f1f1f1;
    }
}

body {
    color: var(--color);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.page-title {
    @apply text-2xl font-bold border-l-4 border-dashed border-blue-500 m-8 pl-4;
}

.circel {
    @apply z-0 before:transition before:duration-500 before:ease-in-out before:transform hover:before:scale-110 before:content-[''] before:absolute before:left-[-20%] before:-top-[1rem] before:h-[150px] before:w-[150px] before:rounded-full before:bg-white before:bg-opacity-10;

    @apply z-0 after:transition after:duration-500 after:ease-in-out after:transform hover:after:scale-110 after:content-[''] after:absolute after:left-[-20%] after:-top-[.5rem] after:h-[130px] after:w-[130px] after:rounded-full after:bg-white after:bg-opacity-15;
}
